#!/bin/bash

ls /Users/jhc/anaconda/envs/_build/lib|grep table --color
ls /Users/jhc/anaconda/envs/_build/include|grep table --color
# Install tools
$PYTHON compile_all.py clustalo --debug
mkdir $PREFIX/bin/ete3_apps/
cp -r bin/ $PREFIX/bin/ete3_apps/
echo %VERSION% > $PREFIX/bin/ete3_apps/__version__
