package:
  name: ete3_external_apps
  version: %VERSION%
  
source:
    git_url: ../../
    # or
    #  git_url: https://github.com/jhcepas/ext_apps.git
requirements:
  build:
    - gcc
    - python
    - argtable2
    - openblas    [linux]
    
  run:
    - gcc
    - python
    - argtable2
    - openblas    [linux]   
    
test:
  requires:
    - gcc
    - argtable2
    - python
    - six
    - lxml
    - numpy
    - pyqt 
    - openblas    [linux]

  commands:
    - pip install --trusted-host pypi.python.org ete3
    - ete3 version
    - ete3 build check
        
about:
  home: http://etetoolkit.org
  license: Multiple (OpenSource)
  summary: "A collection of third-party precompiled phylogenetic tools used by the etetoolkit (ete3 build). Includes: FastTree, RAxML, Phyml, Trimal, Pmodeltest, T-Coffee, M-Coffee, Kaling, Prank, Probcons, Muscle, ClustalOmega, Dialign-tx, Mafft, Consel, Codeml, SLR"

